@import "variables";
@import "mixins";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    @include heading;
}

h3 {
    @include subheading;
}

header {
    height: 50px;
    background-color: $darkblue;
    box-shadow: 0px 6px 10px black;

    .navigation {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 20px;

        .nav-logo {

            a {
                height: 15px;
                display: flex;
                justify-content: center;
            }

            svg {
                fill: $dirtywhite;
            }
        }

        .navlinks {
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media (min-width: 1300px) {
                width: 30%;
            }

            li {
                list-style-type: none;
                
                a {
                    font-size: 3vw;
                    text-decoration: none;
                    color: $dirtywhite;
                    @media (min-width: 1300px) {
                        font-size: 1.5vw;;
                    }
                }
            }
        }
    }
}

main {
    z-index: -1;
    height: 160vh;
    background-image: url(images/bakgrund.jpg);
    background-position: top;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (min-width: 1300px) {
        height: 240vh;
    }

    .main-logo {
        width: 20%;
        position: absolute;
        top: 160px;
        left: 10vw;
        @media (min-width: 1300px) {
            top: 380px;
        }

        svg {
            fill: #20460A;
        }
    }

    .intro {
        position: absolute;
        top: 400px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (min-width: 650px) {
            top: 450px;
        }
        @media (min-width: 800px) {
            top: 600px;
        }
        @media (min-width: 1300px) {
            top: 900px;
        }

        button {
            @include buttonstyle;
            width: 200px;
            background-color: $lightblue;
            color: $dirtywhite;
            margin-top: 20px;
        }
    }

    .waves {
        background-color: $lightblue;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 400px;
        height: 500px;
        width: 100%;
        position: relative;

        @media (min-width: 550px) {
            top: 450px;
        }
        @media (min-width: 800px) {
            top: 550px;
        }
        @media (min-width: 1300px) {
            top: 700px;
        }

        svg {
            width: 100%;
            top: -120px;
            position: absolute;
            fill: $lightblue;
            @media (max-width: 400px) {
                top: -100px;
            }
        }

        .call-to-signup {
            position: absolute;
            width: 100%;
            top: -50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: $dirtywhite;
            @media (min-width: 640px) {
                top: -20px;
            }

            button {
                @include buttonstyle;
                width: 200px;
                background-color: $yellow;
                color: black;
                margin-top: 20px;
            }
        }

        .about {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            top: 120px;
            text-align: center;
            color: $dirtywhite;

            .profiles {
                position: relative;
                width: 80%;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .profile {

                    display: flex;
                    flex-direction: column;

                    img {
                        height: 100px;
                    }

                    p {
                        font-size: 8px;
                    }
                }

                .profile:nth-child(2), .profile:nth-child(3) {
                    margin-top: 40px;
                }
            }
        }
    }
}

footer {
    height: 100px;
    background-color: $darkblue;
    margin-top: 60px;
    box-shadow: 0px -2px 10px black;
    @media (min-width: 550px) {
        margin-top: 120px;
    }
    @media (min-width: 1300px) {
        margin-top: 60px;
    }
}